.headerContainer {
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction:; */
}

.navLinks {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
